.IconWrapper {
    width: 100px;
}


.SelectedWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    height: 200px;
}


.ArrowIcon {
    height: 50px;
    width: 50px;
    
}

.Background {
    width: 80px;
    margin-inline: auto;
}

.Background:hover {
    background-color: #ddd;
}

.SelectedIcon {
    height: 100px;
    width: 100px;
    
}